[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "==2.2.3"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-queryfields = "*"
django-url-filter = "*"
psycopg2 = "*"
django-parler = "*"
django-parler-rest = "*"
gunicorn = "*"
django-heroku = "*"
cloudinary = "*"
